<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jstuparitz;AccountKey=+ZxpYXsgnx10RGadL/fYVZw3ii/qFcebIDteM30o3/sAfKimywK9wl32jaq7BWPI5sNQw+wODgtToUI69hAQsg==" />
    <add key="AccountName" value="jstuparitz" />
    <add key="StorageAccountKey" value="+ZxpYXsgnx10RGadL/fYVZw3ii/qFcebIDteM30o3/sAfKimywK9wl32jaq7BWPI5sNQw+wODgtToUI69hAQsg=="/>
  </appSettings>
</configuration>